mistermorph
!cmd/mistermorph

config.yaml
/config.mock.yaml
/benchmark/

.ai
.cursor/
.codex
.bin
go.work
go.work.sum
dump

# OS metadata
.DS_Store

# Admin SPA dependencies
web/console/node_modules/
web/console/dist/
cmd/mistermorph/consolecmd/static/*
!cmd/mistermorph/consolecmd/static/.gitkeep
.pnpm-store/

bin/
dist/
resources/
desktop/wails/packaging/windows/appicon.ico
desktop/wails/rsrc_windows_*.syso

# Editor swap files
*.swp
web/vitepress/docs/.vitepress/.temp/@localSearchIndexja.BHJ1zQza.js
